---
import MainLayout from "../layouts/MainLayout.astro";

import OffscreenMenu from "../components/page-section/OffscreenMenu.astro";
import Header from "../components/page-section/Header.astro";
import Hero from "../components/page-section/Hero.astro";
import ChooseUs from "../components/page-section/ChooseUs.astro";
import Classes from "../components/page-section/Classes.astro";
import Banner from "../components/page-section/Banner.astro";
import Pricing from "../components/page-section/Pricing.astro";
import Gallery from "../components/page-section/Gallery.astro";
import Testimonials from "../components/page-section/Testimonials.astro";
import Team from "../components/page-section/Team.astro";
import ContactForm from "../components/page-section/ContactForm.astro";
import ContactUs from "../components/page-section/ContactUs.astro";
import OwnerInfo from "../components/page-section/OwnerInfo.astro";
---

<MainLayout css="main" confetti>
  <div class="site-wrap" id="home-section">
    <OffscreenMenu />

    <Header />

    <Hero />

    <ChooseUs />

    <!-- <Classes /> -->

    <!-- <Banner /> -->

    <ContactUs />

    <Pricing />

    <Gallery />

    <Testimonials />

    <OwnerInfo />

    <!-- <Team /> -->

    <ContactForm />
  </div>
</MainLayout>
