---
---

<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="gt-text">
          <i class="fa fa-map-marker"></i>
          <p>64 4 Ave W #26<br />Cardston, AB</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="gt-text email">
          <i class="fa fa-envelope"></i>
          <p>windycitygymcardston@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Get In Touch Section End -->

<style>
  .gt-text p {
    text-align: center;
  }
</style>
