---
import GalleryItem from "./GalleryItem.astro";
---

<!-- Gallery Section Begin -->
<div class="gallery-section">
  <div class="gallery">
    <div class="grid-sizer"></div>
    <GalleryItem
      isWide={true}
      imgSrc="photos/outside_2023-03-25-14-28-48-cleanup.jpg"
    />
    <GalleryItem
      imgSrc="photos/outside_2023-03-25-14-39-32-cleanup-transformed.jpg"
    />
    <GalleryItem imgSrc="photos/outside_2023-03-25-14-32-51-cleanup.jpg" />
    <GalleryItem imgSrc="photos/inside_2023-03-25-21-37-15-cleanup.jpg" />
    <GalleryItem imgSrc="photos/inside_2023-03-25-14-47-44-cleanup.jpg" />
    <GalleryItem imgSrc="photos/sign-37-55-082.jpg" />
    <GalleryItem imgSrc="photos/inside_2023-03-25-14-46-14-cleanup.jpg" />
    <GalleryItem isWide={true} imgSrc="photos/sign-37-55-031-cleanup.jpg" />
    <GalleryItem isWide={true} imgSrc="photos/inside_2023-03-25-21-40-54-cleanup.jpg" />
    <GalleryItem imgSrc="photos/inside_2023-03-25-14-44-11-cleanup.jpg" />
    <GalleryItem isWide={true} imgSrc="photos/inside_2023-03-24-17-38-35-15-cleanup.jpg" />
    <GalleryItem imgSrc="photos/inside_2023-03-24-17-38-35-20-cleanup.jpg" />
  </div>
</div>
<!-- Gallery Section End -->
