---
---

<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="gt-text">
          <i class="fa fa-user"></i>
          <p>Jim Schaffer, President<br />p. 403-315-3543</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gt-text">
          <i class="fa fa-user"></i>
          <p>Kelly Bielert, Vice President<br />p. 403-308-6017</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gt-text">
          <i class="fa fa-user"></i>
          <p>Deb Vegter, Exec Secretary<br >p. 403-330-6960</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Get In Touch Section End -->
