---
---

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Testimonials</span>
          <h2>Listen to Our Cardston Gym Clients</h2>
        </div>
      </div>
    </div>
    <div class="ts_slider owl-carousel">
      <div class="ts_item">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="ti_pic">
              <img src="photos/testimonials/DebVegter.jpg" alt="" />
            </div>
            <div class="ti_text">
              <p>
                "I have been a member of the Windy City Gym for 22 years now and
                enjoy the friendly people that have become my friends. Being 65,
                the gym gives me the opportunity to go and keep my muscles and
                my joints strengthened and flexible. It's a smaller gym but a
                fun place to work out with equipment that suits all your needs."
              </p>
              <h5>Deb Vegter</h5>
              <div class="tt-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ts_item">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="ti_pic">
              <img src="photos/testimonials/TomWaldner.jpg" alt="" />
            </div>
            <div class="ti_text">
              <p>
                "It's great being able to go any time of day -- I love hitting
                the gym at 4am!"
              </p>
              <h5>Tom Waldner</h5>
              <div class="tt-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ts_item">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="ti_pic">
              <img src="photos/testimonials/PattyBielert.jpg" alt="" />
            </div>
            <div class="ti_text">
              <p>
                "Windy City is such a great place to work out, get fit, and feel
                supported in that journey! Love this great gym!"
              </p>
              <h5>Patty Bielert, CPT, ISSA Elite Trainer</h5>
              <div class="tt-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ts_item">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="ti_pic">
              <img src="photos/testimonials/avatar-man1.png" alt="avatar" />
            </div>
            <div class="ti_text">
              <p>
                "As of the original founding members of Windy City Gym, I'm <i>very</i>
                proud of what this gym has become after 30 years! I'm grateful
                for the continued support of so many dedicated, loyal members
                who have helped make this a wonderful place to workout and
                maintain a healthy, fit lifestyle!"
              </p>
              <h5>Kelly Beilert</h5>
              <div class="tt-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ts_item">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="ti_pic">
              <img src="photos/testimonials/avatar-woman1.png" alt="avatar" />
            </div>
            <div class="ti_text">
              <p>
                "I love going to Windy City Gym. It has great up-to-date
                equipment, and some very experienced coaches. You meet new
                people and friends along with having a great workout. We look
                forward to seeing you and welcome you to our gym."
              </p>
              <h5>Ina Harris</h5>
              <div class="tt-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial Section End -->

<style>
  .ti_text {
    text-align: center;
  }

  .ti_text p {
    max-width: min(40rem, 70vw);
    margin: auto;
  }
</style>
