---
import MainLayout from "../layouts/MainLayout.astro";
import BlogPostsList from "./BlogPostsList.astro";

export interface Props {
  posts?: any[];
  url?: any;
}

const { posts = [], url } = Astro.props;
---

<MainLayout css="blog">
  <section class="brand wow fadeIn" data-wow-delay="0s">
    <div class="wow bounceIn" data-wow-delay="0s">
      <img class="rounded" src="/images/blog-hero.webp" alt="logo" />
      <h1>Blog Posts</h1>
    </div>
  </section>

  <BlogPostsList posts={posts} />

  <div class="pagination">
    {
      url?.prev ? (
        <a href={url.prev} rel="prefetch">
          ⏮ Previous
        </a>
      ) : null
    }
    {
      url?.next ? (
        <a href={url.next} rel="prefetch">
          Next ⏭
        </a>
      ) : null
    }
  </div>
</MainLayout>

<style>
  .nav-box {
    display: flex;
    padding: min(2rem, 4vw);
    padding-right: min(6rem, 4vw);
  }
  .nav-box > div {
    flex: 1;
  }
  :global(nav) {
    max-width: 560px;
    flex: 1;
  }
  h1,
  h3 {
    max-inline-size: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 1rem;
    color: turquoise;
  }
  .pagination {
    display: flex;
    justify-content: space-evenly;
  }
</style>
