---
import BaseHead from "./BaseHead.astro";

export interface Props {
  title?: string;
  css?: string;
  confetti?: boolean;
}

const { props } = Astro;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {...props} />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=???-???????"
        height="0"
        width="0"
        style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header></header>

    <main>
      <!-- Page Preloder -->
      <div id="preloder">
        <div class="loader"></div>
      </div>

      <slot />
    </main>

    <!-- Footer Section Begin -->
    <section class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="fs-about">
              <div class="fa-logo">
                <h2>
                  <!-- <a href="./index.html"> -->
                    WINDY CITY <img src="img/logo.png" alt="" />
                  <!-- </a> -->
                </h2>
              </div>
              <p>
                <b>Our mission is simple</b>: Provide Cardston with a welcoming and
                inclusive environment that empowers individuals to achieve their
                fitness goals. We are committed to offering facilities which are
                high-quality, clean and safe, plus a supportive community that
                fosters a lifelong commitment to health and wellness.
              </p>
              <!-- <div class="fa-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-envelope-o"></i></a>
              </div> -->
            </div>
          </div>
          <!-- <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="fs-widget">
              <h4>Useful links</h4>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div> -->
          <!-- <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="fs-widget">
              <h4>Support</h4>
              <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">My account</a></li>
                <li><a href="#">Subscribe</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div> -->
          <!-- <div class="col-lg-4 col-md-6">
            <div class="fs-widget">
              <h4>Tips & Guides</h4>
              <div class="fw-recent">
                <h6>
                  <a href="#"
                    >Physical fitness may help prevent depression, anxiety</a
                  >
                </h6>
                <ul>
                  <li>3 min read</li>
                  <li>20 Comment</li>
                </ul>
              </div>
              <div class="fw-recent">
                <h6>
                  <a href="#"
                    >Fitness: The best exercise to lose belly fat and tone up...</a
                  >
                </h6>
                <ul>
                  <li>3 min read</li>
                  <li>20 Comment</li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="copyright-text">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script is:inline>
                  document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i
                  class="fa fa-heart"
                  aria-hidden="true"></i> by <a
                  href="https://colorlib.com"
                  target="_blank">Colorlib</a
                >
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer Section End -->

    <style>
      .copyright-text {
        opacity: 0.2;
      }
      h2 {
        color: #ddd;
      }
      h2 img {
        vertical-align: bottom;
        padding-left: 5px;
      }
    </style>
  </body>
</html>
